<div class="container">
    <h2>Dar de alta a un administrador</h2>
    <form [formGroup]="profileLogin" (ngSubmit)="register()">
        <div class="form-group">
            <label for="fotoUrl">Foto de perfil</label>
            <input type="text" class="form-control input-large" id="fotoUrl" aria-describedby="fotoUrl" formControlName="fotoUrl">
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control input-medium" id="email" aria-describedby="emailHelp" formControlName="email">
        </div>
        
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control input-medium" id="name" aria-describedby="name" formControlName="name">
        </div>
        
        <div class="form-group">
            <label for="lastName">Apellidos</label>
            <input type="text" class="form-control input-large" id="lastName" aria-describedby="lastName" formControlName="lastName">
        </div>
        
        <div class="form-group">
            <label for="phoneNumber">Número de teléfono</label>
            <input type="text" class="form-control input-small" id="phoneNumber" aria-describedby="phoneNumber" formControlName="phoneNumber">
        </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
       


    </form>
</div>
