<div class="container">
  <h2>Login de Administrador</h2>
  <form [formGroup]="profileLogin" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="emailLog" class="form-label">Email</label>
      <input type="email" class="form-control" id="emailLog" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="termsConditions" formControlName="termsConditions">
      <label class="form-check-label" for="termsConditions">Acepto los términos y condiciones</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loading">
      Submit
    </button>

    
    <div class="bg-transparent mx-auto justify-content-center text-center">
      <button [routerLink]="['/login-socio']" type="submit" class="btn btn-danger mt-3">Iniciar Sesion como Socio</button>
    <div *ngIf="loading" class="loading-spinner">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>

      </div>
      </div>
    </div>
  </form>
  
</div>

